#calendar,
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  background-color: powderblue;
  border-radius: 20px;
}
th {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.day {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.today {
  background-color: palegreen;
}
.weekend {
  color: gray;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  background-color: cadetblue;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

h5 {
  font-size: 18;
  padding: 15px;
  margin: 1%;
}

.input .input-container,
.input-row {
  margin-bottom: 12px;
}

.error-message {
  display: block;

  font-size: 16px;
}

.new-event-form {
  border: solid 2px;
  border-color: cadetblue;
  padding: 10px;
  max-width: 400px;
  margin: 0% auto;
  border-radius: 15px;
}

.new-event-button {
  margin-bottom: 15px;
}

/* (Creating a basic analog clock with HTML, CSS, and JavaScript 2021) */

.clock-dial {
  width: 500px;
  height: 500px;
  border: 8px solid cadetblue;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.point {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hour-1 {
  top: 50px;
  left: 50px;
}

.clock-image {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 488px;
  display: block;
  margin: auto;
}

.digital-time {
  overflow: visible;
}

.minute-hand-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}
.minute-hand .hand {
  width: 4px;
  height: 200px;
  background-color: black;
  position: absolute;
  left: 193px;
  top: -5px;
}

.minute-hand .arrow {
  font-size: 30px;
  font-weight: bold;
  color: black;
  transform: rotate(180deg);
  position: absolute;
  left: 185px;
  top: -20px;
}

.hour-hand-wrapper {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}

.hour-hand .hand {
  width: 4px;
  height: 130px;
  background-color: black;
  position: absolute;
  left: 144px;
  top: 15px;
}

.hour-hand .arrow {
  font-size: 30px;
  font-weight: bold;
  color: black;
  transform: rotate(180deg);
  position: absolute;
  left: 136px;
  top: 0px;
}

.second-hand-wrapper {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}

.second-hand .hand {
  width: 2px;
  height: 175px;
  background-color: grey;
  position: absolute;
  left: 140px;
  top: -30px;
}

.clock-button {
  margin: 20px;
}
